<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy/>


    <!-- StudentBean注入  需要get/set方法-->
    <bean id="student" class="pojo.Student">
        <property name="name" value="chenkai"/>
        <property name="age" value="18"/>
    </bean>

    <!-- Student2Bean注入  需要构造注入方法 -->
    <bean id="student2" class="pojo.Student2">
        <constructor-arg name="name" value="陈凯"/>
        <constructor-arg name="age" value="22"/>
    </bean>

    <!-- Student3Bean注入  需要构造注入方法 -->
    <bean id="student3" class="pojo.Student3">
        <property name="name" value="chenkai3"/>
        <property name="age" value="112"/>
    </bean>

    <!-- StudentBean注入-->
    <bean id="student4" class="com.tutorialspoint.Student">
        <property name="name" value="chenkai"/>
        <property name="age" value="18"/>
    </bean>

    <!-- Definition for logging aspect -->
    <bean id="logging" class="com.tutorialspoint.Logging"/>

<!--    &lt;!&ndash; Initialization for data source &ndash;&gt;
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/TEST"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>

    &lt;!&ndash; Definition for studentJDBCTemplate bean &ndash;&gt;
    <bean id="studentJDBCTemplate"
          class="com.tutorialspoint.StudentJDBCTemplate">
        <property name="dataSource"  ref="dataSource" />
    </bean>-->

</beans>